<div class="ui grid">
  <div class="one wide column"></div>
  <div class="four wide column">
    <div class="ui one cards">
      <div class="ui card">
        <div class="image circle">
          <%= image_tag "al_20151220_ACLTC.jpg" %>
        </div>
        <div class="content">
          <a class="header">Al Ilseman</a>
          <div class="meta">
            Full Stack Web Developer<br/>
            <i class="html5 icon"></i> HTML/CSS/JS<br/>
            <i class="diamond icon"></i> Ruby on Rails<br/>
            <i class="server icon"></i> Linux systems<br/>
          </div>

        </div>
        <div class="extra content">
          Chicago, IL
        </div>
      </div>
    </div>
  </div>
  <div class="ten wide column">
  <div class="ui card fluid">
  <div class="content">
    <h1>Alexander Ilseman</h1>
    <div class="meta">al@ilseman.com | Chicago, IL</div>
    <h2>Profile</h2>
    <p>An aspiring web developer with good Linux administration skills, and a background in the chemicals industry. Saw market opportunity align with a personal interest in the world’s need for better information management tools. Self motivated, independent learner and enthusiastic explainer.  Currently attending a development bootcamp centered around the Ruby on Rails framework.</p>
    <h2>Experience</h2>
    <h4>Product Development Chemist; Elevance Renewable Sciences — 2012-2015</h4>
    <p>Consumer chemicals product development</p>
    <p>Development and management of Sharepoint sites and applications</p>
    <p>Deployed open source applications on Linux virtual hosts</p>
    <h2>Education</h2>
    <p>Anyone Can Learn To Code, Chicago, IL — Currently Enrolled</p>
    <p>Augustana College, Rock Island, IL   — Chemistry, 2010</p>
    <h2>Skills</h2>
    <table class="ui table very basic">
      <tr>
        <td>
          Ruby / Rails
        </td>
        <td>
          Linux Administration
        </td>
        <td>
          Database Design
        </td>
      </tr>
      <tr>
        <td>
          Javascript
        </td>
        <td>
          Amazon Web Services
        </td>
        <td>
          Knowledge Management
        </td>
      </tr>
      <tr>
        <td>
          HTML/CSS
        </td>
        <td>
          git
        </td>
        <td>
          Implementation Strategies
        </td>
      </tr>
    </table>
    <h2>References</h2>
    <p>Ryan Littich PhD — Director, Applications Development — Elevance Renewable Sciences</p>
    <ul>
      <li class="item">ryanlittich@gmail.com</li>
    </ul>
    <p>Kurt Conway — Director, Information Technology — Elevance Renewable Sciences</p>
    <ul>
      <li class="item">kconway858@gmail.com</li>
    </ul>
    <p>Joshua Schipp — 6th Ward Alderman — Rock Island, IL</p>
    <ul>
      <li class="item">schipp.joshuah@gmail.com</li>
    </ul>
  </div>
</div>
</div>
</div>
