<div class="ui grid">
  <div class="one wide column"></div>
  <div class="four wide column">
    <div class="ui one cards">
      <div class="ui card animated fadeIn">
        <div class="image circle">
          <%= image_tag "al_20151220_ACLTC.jpg" %>
        </div>
        <div class="content">
          <a class="header">Al Ilseman</a>
          <div class="meta">
            Full Stack Web Developer<br/>
            <i class="html5 icon"></i> HTML/CSS/JS<br/>
            <i class="diamond icon"></i> Ruby on Rails<br/>
            <i class="server icon"></i> Linux systems<br/>
          </div>

        </div>
      </div>
    </div>
  </div>
  <div class="ten wide column">
    <div class="ui card fluid animated fadeIn">
      <div class="content">
        <h1>Alexander Ilseman</h1>
        <div class="meta">al@ilseman.com | Chicago, IL</div>
        <h3>Hello World</h3>
        <p>I used to do a lot of chemistry, but I wanted to do computers a lot more. So that's what I do now. I started by installing various Linuxes on old laptops, then a bunch of raspberry pis, a server, and these days lots of virtual machines. I write code too. Mostly in ruby and javascript because it's 2016, I'm new to the game, and ruby is fairly patient with me.</p>
        <p>I also love wiring my house up with things that have wires, so Ill probably write about that some too. I used to have a resume on this page, but I didn't like it. Why not just checkout my <a href="https://www.linkedin.com/in/al-ilseman-a7425027
        ">linkedin</a>?</p>
        <h3>Development Projects</h3>
        <div class="ui grid">
          <div class="one wide column">
          </div>
          <div class="seven wide column">
            <h4>Managed By Me</h4>
            <div class="ui list">
              <div class="item">
                <i class="square icon"></i>
                <div class="content">
                  <a class="header" href="https://github.com/fathergoose/my_stream">my_stream</a>
                  <div class="description">A <a href="http://my-stream.io">web-app</a> that takes users music libraries and organizes the content by meta-data tags. Users can stream their libraries back to themselves and make playlists too. <a href="https://github.com/fathergoose/my_stream2">my_stream2</a> is the in-development sequel.</div>
                </div>
              </div>
              <div class="item">
                <i class="square icon"></i>
                <div class="content">
                  <a class="header" href="https://github.com/fathergoose/post_on_rails">post_on_rails</a> 
                  <div class="description">The code that runs this blog. Nothing too fancy, but an ongoing pet project, sandbox, and notepad that someone may read one day.</div>
                </div>
              </div>
              <div class="item">
                <i class="square icon"></i>
                <div class="content">
                  <a class="header" href="https://github.com/fathergoose/wedding_app">My wedding's invitations</a> 
                  <div class="description">I bought a theme off of <a href="https://wrapbootstrap.com/">wrapbootstrap</a>, put it in an aws s3 bucket, then scaffolded this quick rails app to accept POST requests from the <a href="http://ilseman-marzen-wedding.s3-website-us-west-2.amazonaws.com/">static website</a>.</div>
                </div>
              </div>
            </div>
          </div>
          <div class="eight wide column">
            <h4>Things I Contribute To</h4>
            <div class="ui list">
              <div class="item">
                <i class="square icon"></i>
                <div class="content">
                  <a class="header" href="https://github.com/achaw-team-john-marshall/jml_api">jml_api</a> 
                  <div class="description">The product of an internship where myself and two other participants built out a <a href="https://production-john-marshall.herokuapp.com/#/">website</a> for the <em>John Marshall Law School Domestic Violence Clinical Advocacy Program.</em></div>
                </div>
              </div>
              <div class="item">
                <i class="square icon"></i>
                <div class="content">
                  <a class="header" href="https://github.com/gatorjuice/serviceweb_app">Service Web</a> 
                  <div class="description">This started out as a fellow bootcamper's final project. It's a crowd-sourced list of resources for the homeless, and those otherwise in need. <em>To be deployed.</em></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
