<div class="ui three cards">
<div class="ui card">
  <div class="image circle">
    <img src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/p/5/005/0b7/29a/32a8364.jpg">
  </div>
  <div class="content">
    <a class="header">Al Ilseman</a>
    <div class="meta">
      <span class="date">Full Stack Developer</span>
    </div>

  </div>
  <div class="extra content">
  Chicago, IL
  </div>
</div>
</div>