<%= link_to 'New Post', new_post_path  %>
<div class="ui items">
  <% @posts.each do |post| %>
  <div class="ui fluid card">
    <div class="content">
      <%= link_to post.title, post_path(post.id), class: "header" %>
      <div class="description">
        <p>
          <%= post.preview_body %>
        </p> 
      </div> 
    </div>
    <div class="extra content">
      <button class="ui button green right floated">Edit Post</button> 
      </div> 
  </div>
  <% end %>
</div> 