<%= link_to 'New Post', new_post_path  %>
<div class="ui items">
<% @posts.each do |post| %>
  <div class="item">
    <div class="content">
      <%= link_to post.title, post_path(post.id) %>
      </div>
      </div>
<% end %>
</div> 