<div class="ui text container">
<div class="ui message">
<img class="ui image circular centered " src="http://www.desktopdress.com/desktopwallpapers/animals/goose-family.jpg">
<h1>Pages#welcome</h1>
<p>Find me in app/views/pages/welcome.html.erb</p>
</div>
</div>
