<div class="ui text container">
<h1>Pages#welcome</h1>
<p>Find me in app/views/pages/welcome.html.erb</p>
<%= link_to "Sign Out", "/users/sign_out", method: :delete if user_signed_in? %>
<%= link_to "All Posts", "/posts" %>
</div>