<div class="ui grid">
  <div class="eleven wide column">
  <div class="ui huge message page grid center aligned">
    <h1 class="ui huge header">Welcome</h1>
    <p>I'm glad you stopped by. This is a blog where I write about my learnings in computer science. This site is built over a couple late nights using ruby on rails. If you sign-up for an account you gain no special abilities, yet. I could have kept building until everything was done, but then I would never blog. So hang in there, this will only get better.</p>
    <a href="https://twitter.com/AlIlseman" class="twitter button ui">
      <i class="inverted twitter icon"></i>
      tweets anyone? 
      </a>
  </div>

  <div class="ui fluid card ">
    <div class="content">
      <div class="header">
        <h1><%= @post.title if @post%></h1>
      </div>
      <div class="meta">
        Published <%= @post.date_published if @post%>
      </div>
    </div>
    <div class="content">
      <div class="description">
        <%= markdown(@post.body) if @post %>
      </div>
    </div>
  </div>
  </div>
  <div class="five wide column">
    <%= render "layouts/twitter_feed" %>
  </div>
</div>
