<div class="ui text container">
  <div class="ui huge message page grid center aligned animated fadeIn">
    <h1 class="ui huge header">Welcome</h1>
    <p>I'm glad you stopped by. This is where I blog about interesting computer things.</p>
    <a href="https://twitter.com/AlIlseman" class="twitter button ui">
      <i class="inverted twitter icon"></i>
      tweets anyone? 
      </a>
  </div>

  <div class="ui fluid card animated fadeIn">
    <div class="content">
      <div class="header">
        <h1><%= @post.title if @post%></h1>
      </div>
      <div class="meta">
        Published <%= @post.date_published if @post%>
      </div>
    </div>
    <div class="content">
      <div class="description">
        <%= markdown(@post.body) if @post %>
      </div>
    </div>
  </div>
</div>
