<div class="ui items">
  <div class="item">
    <div class="content">
      <a class="header"><%= yield :title %></a>
      <div class="description">
<%= yield %>
      </div>
    </div>
  </div>
</div>