<div class="ui text container">
  <div class="ui grid">
    <div class="two wide column"></div>
    <div class="twelve wide column">
      <p id="notice"><%= notice %></p>

      <h1>Listing Posts</h1>

      <div class="ui one cards">
        <% @posts.each do |post| %>
          <div class="ui centered card">
            <div class="content">
              <%= link_to post.title, post_path(post.id), class: "header" %>
              <div class="meta">
                <%= post.date_published %>
              </div>
              <div class="description">
                <p>
                <%= post.pretext %>
                </p> 
              </div> 
            </div>
          </div> 
        <% end %>
      </div>
    </div>
  </div>
  <div class="two wide column"></div>
</div>
