<p id="notice"><%= notice %></p>

<h1>Listing Posts</h1>

<div class="ui items">
<% @posts.each do |post| %>

  <div class="item">
    <div class="content">
      <a class="header"><% post.title %></a>
      <div class="description">
        <%= post.preview_post %>
      </div>
    </div>
  </div>

<% end %>

</div>  
<%= link_to 'New Post', new_post_path %>
